/* Style allgemeine Sachen */
body {
    margin: 0;
    /* Space outside the border of the content */
    padding: 0;
    /* Space inside the border of the content*/
    min-height: 100vh;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: flex;
    flex-direction: column;
}

h4 {
    margin: 0;
}

.content {
    flex: 1;
    margin: 0 20px;
}

.title-h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 55px;
}

.imageSmall,
/* "," benutzt man, um mehreren Klassen dieselben Eigenschaften zuzuweisen*/
.softImage {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.item {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.itemname {
    font-size: 18px;
    font-weight: bold;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 0;
}

/*Style von Header */
.header {
    border-style: solid;
    border-width: 4px;
    background-color: rgb(122, 171, 238);
    font-size: 28px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.startpage {
    text-decoration: none;
    padding: 15px 40px;
    color: black;
}

.links {
    display: flex;
    justify-content: right;
    font-size: 23px;
    margin-right: 10px;
    padding: 0 20px;
    gap: 5px;
}

/* Style Main von Startseite */
.restaurantImage {
    text-align: center;
}

.restaurant {
    height: 400px;
    display: block;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
}

.shoppinglinks {
    display: flex;
    justify-content: space-between;
}

.sitelinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imglink {
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 45px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imglink:nth-of-type(1) {
    /* nth-of-type(X) greift auf das X-Element(hier das 1) der angegebenen Klasse  */
    background-image: url("bilder/pizza.png");
}

.imglink:nth-of-type(2) {
    background-image: url("bilder/salat.png");
}

.imglink:nth-of-type(3) {
    background-image: url("bilder/soft.png");
}

/* Style Main von Pizzaseite */
.pizzalist1 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.pizzainfo {
    display: flex;
    justify-content: space-between;
    /* Bestimmt den Platz der Elemente in der Flexbox nach der Verteilung */
    align-items: center;
    /* Bestimmt die Höhe der Elemente in der Flexbox(Oben, Mittig, Unten angebunden) */
    width: 100%;
    margin: 0;
}

.pizzaname {
    font-size: 18px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 0;
}

.shopping {
    display: flex;
    justify-content: end;
    align-items: center;
}

.prize {
    font-weight: bold;
}

.button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.shoppingcart {
    height: 20px;
}

.beschreibung {
    font-size: 12px;
    margin-bottom: 20px;
    display: flex;
}

.pizzaPriceShopCart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

}

.priceCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopCartIcon {
    width: 20px;
    height: 20px;
}

/* Style von Salatseite */
.salate {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.salatinfo {
    text-align: left;
}

.salatdetails,
.softdrinkinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.softdrinkpreis,
.dressingpreis {
    font-weight: bold;
    padding-right: 10px;
}

/* Style von Softdrinks-Seite */
.softdrinkliste {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

/* Style von Feedback-Seite */
.feedbackList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedbackForm {
    width: 60%;
}

.feedbackColumn {
    display: flex;
    align-items: center;
}

.feedbackColumn1 {
    margin: 10px 0;
    display: flex;
}

.Question {
    width: 40%;
}

.selectResponse {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

input {
    cursor: pointer;
}

.textResponse {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedbackText,
.textResponse input {
    width: 100%;
    border: 3px solid black;
    font-family: inherit;
    font-size: inherit;
}

.feedbackText {
    height: 200px;
    resize: none;
}

.sendButton {
    width: 103%;
    text-align: end;
    padding-top: 20px;
    padding-bottom: 30px;
}

.Button {
    cursor: pointer;
    padding: 2px 7px 2px 7px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    background-color: white;
}

/* Cart Content Style*/
.cartContainer {
    position: fixed;
    top: 85px;
    right: 10px;
    padding: 10px;
}

/* Style von Footer */
.fusszeile {
    width: auto;
    border-style: solid;
    border-width: 4px;
    background-color: rgb(122, 171, 238);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    bottom: 0;
    padding: 1rem;
    padding: 0px 20px;
}

.zitat-text {
    font-style: italic;
}

/* Shopping cart sidebar styles */
.cartSidebar {
    position: fixed;
    top: 15%;
    right: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.cartButton {
    background: none;
    border: none;
    cursor: pointer;
}

.shopCartIcon {
    width: 30px;
    height: 30px;
}

/* Item count styles */
#itemsInCart {
    font-size: 18px;
    margin-left: 5px;
}